@model ExpenseTracker.Web.Pages.Transactions.FiltersModel
<div class="border mb-3 rounded">
    <div class="mb-3 mt-3">
        From <input type="date" asp-for="DateFrom" class="rounded" />
        To <input type="date" asp-for="DateTo" class="rounded" />
        @if (!Model.HideSorting)
        {
            <span class="ml-2">Sort </span><select asp-for="SortBy" asp-items="Html.GetEnumSelectList<ExpenseTracker.Web.Pages.Transactions.SortOptions>()" class="rounded"></select>
        }
        <input type="text" asp-for="Search" class="rounded ml-2" placeholder="Search" />
        <select asp-for="CategoryFilter" class="rounded ml-2" asp-items="Model.Categories"></select>
        <button type="submit" class="ml-4"> Apply </button>
    </div>
</div>