@model decimal[]
<span class="text-left">
    <span class="badge badge-pill" style="min-width:5em">@Model[0].ToString("N0")</span>
</span>
<span class="text-light">|</span>
<span class="text-left">
    <span class="badge badge-pill" style="min-width:5em">@Model[1].ToString("N0")</span>
</span>
<span class="text-light">|</span>
<span class="text-left">
    @{var savingsClassValue = Model[2] < 0 ? "danger" : "success";}
    <span class="badge badge-@savingsClassValue ml-2">@Model[2].ToString("N0")</span>
</span>