@page
@model IndexModel
@{
    ViewData["Title"] = "Expenses";
}

<div class="text-center">
    <vc:transactions-summary filter-model="@Model.Filter"></vc:transactions-summary>
    <form method="post" onkeydown="return event.key != 'Enter';">
        <partial name="_TransactionsFilter" for="Filter" />
        <partial name="_Transactions" for="TransactionsList" />
        <div class="text-right mb-2">
            <button type="submit" asp-page-handler="DeleteAll">Delete Filtered</button>
        </div>
        <partial name="_Pager" for="Pager" />
    </form>
</div>