@page
@model ExpenseTracker.Web.Pages.Transactions.UploadModel

<style>
    .mycard {
        margin: 30px 0;
        background-color: hsl(0, 0%, 93%);
        border: solid;
        border-color: hsl(0, 0%, 70%);
        padding: 30px;
        border-radius: 5px;
        /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */
    }
</style>

<form enctype="multipart/form-data" method="post" onkeydown="return event.key != 'Enter';">
    @if (@Model.ViewData["errorMessage"] != null)
    {
        <div class="alert-danger alert">Error. @Model.ViewData["errorMessage"]</div>
    }

    <input type="hidden" asp-for="NewTransaction.TransactionId" />
    <input type="hidden" asp-for="NewTransaction.Source" />

    @if (Model.JustAddedTransactions.Transactions.Any())
    {
        <div class="row">
            <div class="col">
                <h3 class="d-inline">Just Added</h3>
                <a type="submit" asp-page-handler="ClearAdded">Clear</a>
            </div>
        </div>
        <div class="row">
            @{
                var heigth = 3;
                Model.JustAddedTransactions.DetailsHeight = heigth;
                Model.SkippedTransactions.DetailsHeight = heigth;
            }
            <partial name="_Transactions" for="JustAddedTransactions" />
        </div>

        <hr />
    }

    @if (Model.SkippedTransactions.Transactions.Any())
    {
        <div class="row">
            <div class="col">
                <h3 class="d-inline">Skipped</h3>
                <a type="submit" asp-page-handler="ClearSkipped">Clear</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <partial name="_Transactions" for="SkippedTransactions" />
            </div>
        </div>
    }

    @if (Model.HasMail)
    {
        <div class="mycard">
            <h2>Sync from Gmail</h2>
            <button class="btn btn-primary" type="submit" asp-page-handler="SyncMail">Sync</button>
        </div>
    }

    <div class="mycard">
        <h2>
            Manual Entry
        </h2>

        <div class="row">
            <div class="form-group col">
                <label for="date">Date</label>
                <input id="date" type="date" asp-for="NewTransaction.Date" class="form-control" />
            </div>
            <div class="form-group col">
                <label for="amount">Amount</label>
                <input id="amount" onmouseup="return false;" asp-for="NewTransaction.Amount" class="form-control auto-select" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col">
                <label for="category">Category</label>
                <input id="category" asp-for="NewTransaction.Category" class="form-control col" placeholder="name:key(opt)" onkeyup="onCreateEnter(event)" list="cats" autocomplete="off" />
                <vc:categories-data-list id="cats"></vc:categories-data-list>
            </div>
            <div class="form-group col">
                <label for="type">Type</label>
                <select id="type" class="form-control col" asp-for="NewTransaction.Type" asp-items="Html.GetEnumSelectList<ExpenseTracker.Core.Transactions.TransactionType>()"></select>
            </div>
        </div>

        <div class="form-group">
            <label for="details">Details</label>
            <textarea id="details" asp-for="NewTransaction.Details" rows="4" class="form-control" onkeyup="onCreateEnter(event)"></textarea>
        </div>

        <button class="btn btn-primary" type="submit" id="submitBtn" asp-page-handler="create">Save</button>

    </div>

    <div class="mycard">
        <h2>
            Upload File
        </h2>

        <div class="form-group">
            <input class="form-control-file my-2" id="files" type="file" multiple asp-for="Files" />
            <button asp-page-handler="Upload" type="submit" value="Upload" class="btn btn-primary">Upload</button>
        </div>
    </div>

    <div class="mycard">
        <h2 class="card-title">Fetch from Trading212</h2>
        <div class="form-group">
            <label for="loginToken" class="form-label">Login Token</label>
            <input asp-for="@Model.LoginToken" class="form-control" id="loginToken" />
        </div>
        <div class="form-group">
            <label for="Trading212SessionLive" class="form-label">Trading212 Session Live</label>
            <input asp-for="@Model.Trading212SessionLive" class="form-control" id="Trading212SessionLive" />
        </div>
        <div class="form-group">
            <button asp-page-handler="Trading212" type="submit" class="btn btn-primary">
                Import
            </button>
        </div>
    </div>

</form>

@section Scripts {
    <script>
        window.onload = function () {
            document.getElementById("amount").focus();
        }

        function onCreateEnter(e) {
            if (e.isComposing || e.keyCode === 229)
                return;
            e.stopPropagation();
            if (e.keyCode === 13) {
                var btn = document.getElementById("submitBtn");
                btn.click();
            }
        }
    </script>
}