<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExpenseTracker.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-md">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Transactions/Index">List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Transactions/ExpandableMonth">Year/Month/Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Transactions/Upload">Add/Upload</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Transactions/DuplicatesManager">Duplicates Manager</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Rules/Index">Rules</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Categories/Index">Categories</a>
                        </li>
                        @*<li class="nav-item dropdown">
            <div class="btn-group">
                <a class="btn nav-link text-dark" asp-page="/Transactions/Index">Transactions</a>
                <button type="button" class="btn text-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" data-reference="parent"></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item text-dark" href="/Transactions/Index">List</a>
                    <a class="dropdown-item text-dark" href="/Transactions/ByMonthByCategory">Monthly View</a>
                    <a class="dropdown-item text-dark" href="/Transactions/Upload">Add/Upload</a>
                    <a class="dropdown-item text-dark" href="/Transactions/DuplicatesManager">Duplicates Manager</a>
                    <a class="dropdown-item text-dark" href="/Rules/Index">Rules</a>
                </div>
            </div>
        </li>*@
                        @*<li class="nav-item dropdown">
            <div class="btn-group">
                <a class="nav-link text-dark" asp-page="/Budgets/Index">Budget</a>
                <button type="button" class="btn text-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" data-reference="parent"></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item text-dark" asp-page="/Budgets/Index">List</a>
                    <a class="dropdown-item text-dark" asp-page="/Budgets/Projections">Projections</a>
                </div>
            </div>
        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-md">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/jquery.slim.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>