@using ExpenseTracker.Web.Pages.Shared
@model PagerModel
@{
    var display = Model.PageCount > 1 ? "" : "none";
}

@if(Model.PageCount > 1)
{
    <input type="submit" value="<<" asp-page-handler="PreviousPage"/>
    <input type="number" asp-for="PageIndex" class=""/>
    <input type="submit" value=">>" asp-page-handler="NextPage" />
    <span>Total Pages = @Model.PageCount</span>
}

<fieldset class="form-group form-row">
    <label asp-for="PageSize" class="col-form-label-sm">Page Size </label>
    <input asp-for="PageSize" style="width: 5em" class="form-control-sm" />
    <input type="submit" value="OK" class="form-control-sm">
</fieldset>
