@using ExpenseTracker.Core.Services.Models
@model ExpenseTracker.Web.Pages.Shared.TransactionsFilterViewModel

<style>    
    select[multiple] {
        overflow: auto;
        padding: 1;
        width: auto;
        white-space: normal;
    }

    select[multiple] option {
        margin: 3px;
        border: 1px solid #000;
        @* background-color: white; *@
        @* margin-left: -1px; *@
        display: inline-block;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
        
    code {
        background-color: #f0f0f0;
        padding: 2px 4px;
        border-radius: 3px;
        font-family: monospace;
    }
</style>

<input type="hidden" asp-for="HideSorting" />

<div class="mycard">
    <form-group>
        <label asp-for="DateFrom">From</label>
        <input type="date" asp-for="DateFrom" />
    </form-group>
    <form-group>
        <label asp-for="DateTo">To</label>
        <input type="date" asp-for="DateTo" />
    </form-group>

    @if (!Model.HideSorting)
    {
        <form-group>
            <label asp-for="SortBy">Sort</label>
            <select asp-for="SortBy" asp-items="@Html.GetEnumSelectList<SortOptions>()"></select>
        </form-group>
    }   

    <form-group>
        <label asp-for="Search">Search</label>
        <input type="text" asp-for="Search" placeholder="Search" />
    </form-group>
    <form-group inline="false">
        <label asp-for="SelectedSources">Source</label>
        <select multiple="multiple" asp-for="SelectedSources" asp-items="Model.Sources"></select>
    </form-group>
    <form-group inline="false">
        <label asp-for="CategoryExpression">Category Expression</label>
        <input type="text" asp-for="CategoryExpression" placeholder="e.g., (needs && (food || car)) && (wants && (clothes || travel))" />
        <partial name="_CategoryExpressionHelp" />
    </form-group>
    
    @if (Model.CategoriesDropDownModel.Count > 0)
    {
        <form-group inline="false">
            <label asp-for="SelectedCategories">Categories</label>
            <select multiple="multiple" asp-for="SelectedCategories" asp-items="Model.CategoriesDropDownModel"></select>
        </form-group>
    }

    <button type="submit" class="btn btn-sm btn-primary"> Apply </button>

</div>

