<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="user" value="" />
    <add key="pass" value=""/>
    <add key="xlInput" value="%userprofile%\Desktop\input.xlsx"/>
    <add key="xlOutput" value="%userprofile%\Desktop\output.xlsx"/>
    <add key="dbPath" value="%userprofile%\Desktop\test.db"/>
    <add key="classifierSettingsPath" value="%userprofile%\Desktop\categories.json"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>