@model ExpandableMonthModel

<div class="mb-1" style="background-color: hsl(187 15% 60%)">
    <div class="text-left">
        <button class="btn text-left" type="button" onclick="onToggleElement('@Model.ClientId')">
            <h4 style="min-width:10em;color: white;">@(Model.Month.ToString("yyyy MMMM"))</h4>
        </button>
        <h5 class="d-inline-block" style="color: white;">
            <partial name="_Summary" model="new decimal[] { Model.TotalExpenses, Model.TotalIncome, Model.Balance }" />
        </h5>
    </div>
</div>

<div id="@Model.ClientId" style="display: none; background-color: hsl(0 0% 95%)">
    <div class="text-left">
        @{
            var r = new Random();
        }
        @for (int ci = 0; ci < Model.Count; ci++)
        {
            var currentCategoryKey = ExpandableMonthModel.GetCategoryKey(Model[ci].CategoryName);
            Model[ci].ClientIdPrefix = "category__" + Model.Month.ToString("MM_yy__");
            Model[ci].BackgroundHue = 187;
            Model[ci].BackgroundLightness = 80;
            Model[ci].BackgroundSaturation = 15;
            <div class="mb-1 mt-1">
                <partial name="_ExpandableCategory" for="@Model[ci]" />
            </div>
        }
    </div>
</div>