<nav class="navbar navbar-expand navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Transactions/List">List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Transactions/ByMonthByCategory">By Months/Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Transactions/Upload">Upload</a>
            </li>
        </ul>
    </div>
</nav>
