@model decimal[]
<span class="text-left">
    <span class="badge badge-secondary">@Model[0].ToString("N0")</span>
</span>
<span class="mx-2">|</span>
<span class="text-center">
    <span>@Model[1].ToString("N0")</span>
</span>
<span class="mx-2">|</span>
<span class="text-center">
    @{var savingsClassValue = Model[2] < 0 ? "danger" : "success";}
    <span class="badge badge-@savingsClassValue">@Model[2].ToString("N0")</span>
</span>
