@page
@model IndexModel
@{
    ViewData["Title"] = "Expenses";
    var savingsClassValue = "success";
    if (Model.Saved < 0)
    {
        savingsClassValue = "danger";
    }
}

<div class="text-center">
    <h1 class="display-4">Transactions</h1>
    <div class="mb-4">
        <span class="badge">Spent: @Model.Expenses.ToString("N0")</span> |
        <span class="badge">Income: @Model.Income.ToString("N0")</span> |
        <span class="badge badge-@savingsClassValue">Balance: @Model.Saved.ToString("N0")</span>
    </div>
    <form method="post" onkeydown="return event.key != 'Enter';">
        <div class="mb-4">
            <button type="submit" asp-page-handler="ClassifyCurrent">Classify Filtered</button>
            @*<button type="submit" asp-page-handler="ClassifyAll">Classify All</button>*@
            <button type="submit" asp-page-handler="DeleteFiltered">Delete Filtered</button>
            @*<button type="submit" asp-page-handler="DeleteAll">Delete All</button>*@
        </div>
        <partial name="_Filters" for="Filters" />
        <partial name="_Transactions" for="Transactions" />
    </form>
</div>
