@page
@model ExpenseTracker.Web.Pages.Transactions.UploadModel

<div class="col-lg-6">
    <form method="post" onkeydown="return event.key != 'Enter';">
        <h4>Enter manually</h4>
        <div class="form-row">
            <div class="form-group col">
                <label for="date">Date</label>
                <input id="date" type="date" asp-for="CreateTransaction.Date" class="form-control" />
            </div>
            <div class="form-group col">
                <label for="amount">Amount</label>
                <input id="amount" onmouseup="return false;" asp-for="CreateTransaction.Amount" class="form-control auto-select" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="details">Details</label>
                <textarea id="details" asp-for="CreateTransaction.Details" rows="4" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="category">Category</label>
                <input id="category" asp-for="CreateTransaction.Category" class="form-control col" placeholder="name:key(opt)" onkeyup="onCreateEnter(event)" />
            </div>
            <div class="form-group col">
                <label for="type">Type</label>
                <select id="type" class="form-control col" asp-for="CreateTransaction.Type" asp-items="Html.GetEnumSelectList<ExpenseTracker.Core.TransactionType>()"></select>
            </div>
        </div>
        <button type="submit" id="submitBtn" asp-page-handler="create" class="btn btn-primary">Add</button>
    </form>

    <form enctype="multipart/form-data" method="post" onkeydown="return event.key != 'Enter';" class="mt-5">
        <h4>Upload files</h4>
        <div class="form-row">
            <div class="form-group col">
                <input id="files" type="file" multiple asp-for="Files" class="form-control-file" />
            </div>
            <div class="form-group col">
                <button asp-page-handler="Upload" type="submit" value="Upload" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        window.onload = function () {
            document.getElementById("amount").focus();
        }

        function onCreateEnter(e) {
            if (e.isComposing || e.keyCode === 229)
                return;
            e.stopPropagation();
            if (e.keyCode === 13) {
                var btn = document.getElementById("submitBtn");
                btn.click();
            }
        }
    </script>
}
